<h1> WELCOME EMPLOYEE </h1>

<h2> Looking For a Job or Change?..... </h2>

<h3> Find Your Dream Job Today</h3>


<%= link_to "WAY TO JOB PORTAL", job_details_path, class: "btn btn-primary" %>


<br/>
<br/>


