<h1>List Of JOBS </h1>

<div id="jobs">
  <% @job_details.each do |job| %>
    <div class="job">
      <h2>
        <%= link_to job.Job_title, job %>
      </h2>
    </div>
  <% end %>
</div>

<%if current_user.employer?%>
  <%= link_to "Create New Job",new_job_detail_path, class: "btn btn-primary" %>
<%end%>

<%= link_to "BACK", job_details_path, class: "btn btn-primary" %>



