<%= form_with model: @employer do |form| %>
    <div>
      <%= form.label :Employer_Name %><br>
      <%= form.text_field :name %>
    </div>
  
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>