

<div id="companies">
  <h2>
  <%= link_to @employer.name, @employer %>
  </h2>
  <%if @employer.present? %>
  <%else%>
  <button class="btn btn-default">
      <%= link_to "New Company", new_employer_path %>
    </button>
  <%end%>
</div>

