<h1>HELLO <%=@employer.name %></h1>

<h3>Jobs Posted By <%=@employer.name%></h3>

<div id="jobs">
  <% @employer.job_details.each do |job| %>
    <div class="job">
      <h2>
        <%= link_to job.Job_title, job %></li>
      </h2>  
    </div>  
  <% end %>
</div>


<%= link_to "Create New Job",new_job_detail_path(employer_id: @employer.id), class: "btn btn-primary" %>

